@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Fascinate|Julius+Sans+One|Lobster|Yellowtail|Monoton');
body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}



body{
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: 100%;
  background-color: #000;
  background-image: url(http://pa1.narvii.com/6708/ab63b39441d5d5943d19b6784a236822a4e627fc_00.gif);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	background-position: top-center;
}

h1{
  color: #d100b1;
  display: block;
  font-family: 'Yellowtail', cursive;
  font-size: 150px;
  text-shadow: 0 0 1px #d100b1, 0 -3px 3px rgba(255, 255, 255, 0.8), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #d100b1, 0 0 45px rgba(209, 0, 177, 0.8);
  text-align: center;
  text-decoration: underline;
  text-transform: none;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  -ms-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  top: 50%;
  width: 100%;
  }
.signUp{
    padding: 10px;
    background: rgba(0,0,0,0.4);
    }
.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	opacity: 0.7;
}

p{
font-size: 1.5em;
}

.header{
    text-align: left;
	position: absolute;
	top: calc(50% - 30px);
	left: calc(40% - 300px);
	line-height: 500%;
	float: left;
}

.welcome{
    top: calc(40% - 100px);
    left: calc(50%);
}

.nav-wrapper{
	padding-top: 10px;
	padding-right: 30px;
	background-color: rgba(0,0,0,0.5);
	margin-bottom: 50px;
}
.brand-logo{
font-family: 'Monoton', sans-serif;
}
.header div{
	float: left;
	color: #000;
	font-family: 'Monoton', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #fff !important;
	text-shadow: 0px 0px 20px rgb(249, 137, 238);
	font-size: 72px;
}

.italic {
    font-style: italic
    }


.myProfile {
	background-color: rgba(0,0,0, 0.3);
}

#neon {
    font-size: 165px;
    }

#connection{
    font-family: 'Monoton', sans-serif;
    font-size: 72px;
    }

.card{
	position: absolute;
	background-color: rgba(0,0,0, 0.3);
	top: calc(50% - 75px);
	left: calc(55%);
	height: 140px;
	width: 350px;
	padding: 10px;
}

.account{
	position: absolute;
	top: calc(100%);
	left: calc(0px);
	height: 140px;
	width: 350px;
	padding: 10px;
	background: none;
}

#accountButton{
	border: 1px solid lightgray;
	width: 350px;
    height: 40px;
    background: purple;
    border: 1px solid purple;
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}


.delete .update{
border: 1px solid lightgray;
	width: 350px;
    height: 40px;
    background: purple;
    border: 1px solid purple;
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
		opacity: 50%;
}

.updateForm .deleteForm {
    background: rgba(0,0,0,0);
}


.profileMatch{
background: rgba(0,0,0,0.3);
padding: 5px;
margin: 5px;
}

.bold{
	font-weight: bold;
	font-size: 1.5em;
}

.center {
	text-align: center;
}
.profilePic{
    width: 60%;
    height: 60%;
    float: left;
    border-radius: 50%;
    }

.profilePicSmall{
	margin-top: 10%;
    width: 40%;
    height: 40%;
    float: left;
    margin-right: 5%;
    border-radius: 10%;
    }

input[type=text]{
	width: 340px;
	height: 30px;
	background: rgba(0,0,0,0.4);
	border: 1px solid rgba(249, 137, 238,0.6);
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}


input[type=password]{
	width: 340px;
	height: 30px;
	background: rgba(0,0,0,0.4);
	border: 1px solid rgba(249, 137, 238,0.6);
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

input[type=submit]{
	width: 350px;
	height: 35px;
	background: purple;
	border: 1px solid purple;
	cursor: pointer;
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

input[type=submit]:hover{
	opacity: 0.8;
}

input[type=submit]:active{
	opacity: 0.6;
}

input[type=submit]:focus{
	outline: none;
}
