{{#partial "content"}}


<h1>Sorry to see you go! We hope it's because you've found love and not because you've given up</h1>


<p><a href="/">Maybe I'll sign up again...</a></p>
<form actions="/" method="get">
    <button id="goodbye" type="submit" class="btn btn-default">Maybe I'll sign up again...</button>
</form>




{{/partial}}
{{> layout.hbs}}