{{#partial "title"}}goodbye.hbs{{/partial}}

{{#partial "content"}}

    <h1>Sorry to see you go! We hope it's because you've found love and not because you've given up</h1>
    <!--<a href="/"><button>Maybe I'll sign up again...</button></a><br>-->

{{/partial}}
{{> layout.hbs}}