<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{#block "title"}}Neon Connection{{/block}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{#block "materialize"}}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">{{/block}}
    <link rel='stylesheet' href='/app.css'>
</head>

<body>
{{#block "nav"}}
    <nav>
        <div class="nav-wrapper purple">
            <a href="/" class="brand-logo center">Neon</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/user/{{user.id}}/profile"><i class="material-icons">home</i></a></li>
                <li><a href="/profile/{{user.id}}/search"><i class="material-icons">search</i></a></li>
                <li><a href="/profile/{{user.id}}/matches">Matches</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
    </nav>
{{/block}}

<div class="container">
    {{#block "content"}}
    {{/block}}
</div>

</body>

<footer>
    {{#block "footer"}}
    {{/block}}
</footer>
</html>