<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{#block "title"}}Neon Connection{{/block}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{{#block "content"}}



        {{/block}}
    </div>

</div>
{{#block "footer"}}
        <footer>
        </footer>
    </body>
</html>

{{/block}}