<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{#block "title"}}D<3D{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>

<div class="container">

    <div class="page-header">
        <h1>D<3D</h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>

</div>
{{#block "footer"}}
        <footer>
        </footer>
    </body>
</html>

{{/block}}