<!DOCTYPE html>

<html lang="en">
<head>
<<<<<<< HEAD
    <title>{{#block "title"}}D<3D{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
=======
    <title>{{#block "title"}}Neon Connection{{/block}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='/app.css'>
>>>>>>> 14f0b1e0d50a1fbff23b65bfe440c269b3fc6c13
</head>
<body>
{{#block "content"}}

{{/block}}

<div class="container">

    <div class="page-header">
        <h1>D<3D</h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>

</div>
{{#block "footer"}}
        <footer>
        </footer>
    </body>
</html>

{{/block}}