<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{#block "title"}}Dat Datting App Doe{{/block}}</title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/app.css'>
</head>
<body>

{{#block "footer"}}
        <footer>

        </footer>
    </body>
</html>
{{/block}}