<!DOCTYPE html>

<html lang="en">
<head>
    <title>{{#block "title"}}Neon Connection{{/block}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel='stylesheet' href='/app.css'>
</head>
<body>

<div class="container">

    <div class="page-header">
        <h1></h1>
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>

</div>
{{#block "footer"}}
        <footer>
        </footer>
    </body>
</html>

{{/block}}