{{#partial "content"}}

    <label>Login</label>
    <input>

    <form actions="SPARK_ROUTE" method="post">
      <label for="user-name">Username:</label>
      <input id="user-name" name="user-name" type="text">
    <br>
      <label for="password">Password:</label>
      <input id="password" name="password" type="password">
    <br>
      <button type="submit" class="btn btn-default">Login</button><br>
      <button type="submit" class="btn btn-default">Sign Up!</button>
    </form>

{{/partial}}
{{> layout.hbs}}