{{#partial "content"}}
    <div class="container">

    <form actions="user/" method="post">
      <label for="user-name">Username:</label>
      <input id="user-name" name="user-name" type="text" placeholder="Username">
    <br>
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" placeholder="password">
    <br>
      <button type="submit" class="btn btn-default">Login</button><br>
    </form>


<form action="user/new" method="get">
    <button type="submit" class="btn btn-default">Sign Up!</button>
</form>
    </div>



{{/partial}}
{{> layout.hbs}}