{{#partial "title"}}login-error.hbs{{/partial}}

{{#partial "header"}}
{{/partial}}

{{#partial "nav"}}
{{/partial}}

{{#partial "content"}}

    <h2>{{login_id}}</h2>

    <div class="error">
        <h1>Whoops! Looks like youn gave us the wrong credentials, try logging in again please :).<br>
            <a href="/">Back to login</a></h1>
    </div>

{{/partial}}

{{#partial "footer"}}
{{/partial}}

{{> layout.hbs}}