{{#partial "content"}}

<p>Name: {{user.name}}</p>

<p>{{user.tagLine}}</p>

<p>Gender: {{user.gender}}</p>

<p>Seeking: {{user.preference}}</p>

<p>Birthday: {user.birthday}}</p>

<p></p>

<p></p>

<p></p>

{{/partial}}
{{> layout.hbs}}