{{#partial "content"}}


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <link rel='stylesheet' href='/app.css'>
    </head>
<body>


<nav>
    <div class="nav-wrapper purple">
      <a href="/" class="brand-logo center">Neon</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>


<div class="container">

    <form actions="/user/new" method="post">

        <label for="name">Name:</label>
        <input id="name" name="name" type="text">
        <br>

        <label for="userTagLine">Tag Line:</label>
        <input id="userTagLine" name="userTagLine" type="text" placeholder="Describe yourself">
        <br>

        <label for="birthday">Birthday:</label>
        <input id="birthday" name="birthday" type="date">
        <br>

        <label for="gender">Gender:</label>
              <input name="Gender" type="radio" id="iAmWoman" />
              <label for="iAmWoman">Woman</label>
              <input name="Gender" type="radio" id="iAmMan" />
              <label for="iAmMan">Man</label>
              <input name="Gender" type="radio" id="iAmOther" />
              <label for="iAmOther">Other</label>

        <label for="preference">Interested in:</label>
        <input name="lookingFor" type="radio" id="lookingForWoman" />
                      <label for="lookingForWoman">Woman</label>
                      <input name="Gender" type="radio" id="lookingForMan" />
                      <label for="lookingForMan">Man</label>
                      <input name="Gender" type="radio" id="lookingForOther" />
                      <label for="lookingForOther">Other</label>
        <br>


        <label for="user-name">Username:</label>
        <input id="user-name" name="user-name" type="text">
        <br>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">
        <br>
        <button type="submit" class="btn btn-default purple">Sign Up!</button>
    </form>
   </div>

<script> $(document).ready(function() {
            $('select').material_select();
          });
</script>


{{/partial}}
{{> layout.hbs}}
