{{#partial "content"}}

    <form actions="user/new" method="post">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text">
        <br>

        <label for="userTagLine">Tag Line:</label>
        <input id="userTagLine" name="userTagLine" type="text" placeholder="Describe yourself">
        <br>

        <label for="birthday">Birthday:</label>
        <input id="birthday" name="birthday" type="date">
        <br>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="male">Man</option>
            <option value="female">Woman</option>
            <option value="other">Other</option>
        </select>
        <br>

        <label for="preference">Interested in:</label>
        <select id="preference" name="preference">
            <option value="male">Men</option>
            <option value="female">Women</option>
            <option value="other">Other</option>
            <option value="noPref">No preference</option>
        </select>
        <br>


        <label for="user-name">Username:</label>
        <input id="user-name" name="user-name" type="text">
        <br>
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">
        <br>
        <button type="submit" class="btn btn-default">Sign Up!</button>
    </form>

{{/partial}}
{{> layout.hbs}}
