{{#partial "content"}}


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <link rel='stylesheet' href='/app.css'>
    </head>
<body>


<nav>
    <div class="nav-wrapper purple">
      <a href="/" class="brand-logo center">Neon</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html"><i class="material-icons">home</i></a></li>
          <li><a href="badges.html"><i class="material-icons">search</i></a></li>
          <li><a href="collapsible.html">Matches</a></li>
          <li><a href="mobile.html">Logout</a></li>
        </ul>
  </div>
</nav>
<div class="container">

    <form actions="/user/new" method="post">

        <label for="name">Name:</label>
        <input id="name" name="name" type="text" placeholder="First Last">
        <br>

        <label for="profilePic">Profile Pic:</label>
        <input id="profilePic" name="profilePic" type="text" placeholder="add picture URL">
        <br>


        <label for="userTagLine">Tag Line:</label>
        <input id="userTagLine" name="userTagLine" type="text" placeholder="Describe yourself">
        <br>


        <label for="birthday">Birthday:</label>
        <input id="birthday" name="birthday" type="date">
        <br>


        <!--<label for="gender">Gender:</label>-->
        <!--<select id="gender" name="gender">-->
            <!--<option value="male">Man</option>-->
            <!--<option value="female">Woman</option>-->
            <!--<option value="other">Other</option>-->
        <!--</select>-->
        <!--<br>-->

        <!--<label for="preference">Interested in:</label>-->
        <!--<select id="preference" name="preference">-->
            <!--<option value="male">Men</option>-->
            <!--<option value="female">Women</option>-->
            <!--<option value="other">Other</option>-->
            <!--<option value="noPref">No preference</option>-->
        <!--</select>-->
        <!--<br>-->

        <label for="age">Age:</label>
        <input id="age" name="age" type="text">
        <br>

        <label for="location">City:</label>
        <input id="location" name="location" type="text">
        <br>

        <label for="sign">Astrological Sign:</label>
        <select id="sign" name="sign">
            <option value="Capricorn">Capricorn (Dec 22-Jan 19)</option>
            <option value="Aquarius">Aquarius (Jan 20-Feb 18)</option>
            <option value="Pisces">Pisces (Feb 19-Mar 20)</option>
            <option value="Aries">Aries (Mar 21-Apr 19)</option>
            <option value="Taurus">Taurus (Apr 20-May 20)</option>
            <option value="Gemini">Gemini (May 21-Jun 20)</option>
            <option value="Cancer">Cancer (Jun 21-Jul 22)</option>
            <option value="Leo">Leo (Jul 23-Aug 22)</option>
            <option value="Virgo">Virgo (Aug 23-Sep 22)</option>
            <option value="Libra">Libra (Sep 23-Oct 22)</option>
            <option value="Scorpio">Scorpio (Oct 23-Nov 21)</option>
            <option value="Sagittarius">Sagittarius (Nov 22-Dec 21)</option>
        </select>
        <br>

        <label for="job">Career:</label>
        <input id="job" name="job" type="text">
        <br>

        <label for="kids">Do you want children?</label>
        <select id="kids" name="kids">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        <br>

        <label for="gender">I am a:</label>
        <!--<form id="gender" name="gender">-->
            <input value="male" name="gender" type="radio" id="iAmMan" />
            <label for="iAmMan">Man</label>


            <input value="female" name="gender" type="radio" id="iAmWoman" />
            <label for="iAmWoman">Woman</label>

            <input value="other" name="gender" type="radio" id="iAmOther" />
            <label for="iAmOther">Other</label>
        <!--</form>-->
        <br>
        <label for="preference">Interested in:</label>
        <!--<form id="perference" name="perference">-->
            <input value="male" name="preference" type="radio" id="lookingForMan" />
            <label for="lookingForMan">Man</label>

            <input value="female" name="preference" type="radio" id="lookingForWoman" />
            <label for="lookingForWoman">Woman</label>

            <input value="other" name="preference" type="radio" id="lookingForOther" />
            <label for="lookingForOther">Other</label>
        <!--</form>-->
        <br>
        <div class="row">
            <div class="input-field col s6">

        <label for="user-name">Username:</label>
        <input id="user-name" name="user-name" type="text">
    </div>
    <div class="input-field col s6">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">
    </div>
        <br>
</div>
    <button type="submit" class="btn btn-default purple">Sign Up!</button>
</form>
</div>

<script>
document.ready(function() {
            $('select').material_select();
            $(".button-collapse").sideNav();
          });
</script>


{{/partial}}
{{> layout.hbs}}
