{{#partial "title"}}success.hbs{{/partial}}

{{#partial "header"}}
{{/partial}}

{{#partial "nav"}}
{{/partial}}

{{#partial "content"}}
     <h1>Welcome</h1>
    <a href="/profile/:user_id/search/:profile_id">View My Profile</a>
{{/partial}}

{{#partial "footer"}}
{{/partial}}

{{> layout.hbs}}