{{#partial "content"}}

    <form actions="user/new" method="post">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text">
        <br>

        <label for="userTagLine">Tag Line:</label>
        <input id="userTagLine" name="userTagLine" type="text" placeholder="Describe yourself">
        <br>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="other">Other</option>
        </select>
        <br>

        <label for="preference">Interested in:</label>
        <select id="preference" name="preference">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="no-preference">No preference</option>
        </select>
        <br>

        <button type="submit">update</button>

    </form>

{{/partial}}
{{> layout.hbs}}
