{{#partial "content"}}

<h1>Welcome</h1>

<!--<form actions="user/:loginId/profile" method="get">-->
    <!--<button type="submit" class="btn btn-default">View My Profile</button>-->
<!--</form>-->


<a href="/user/{{user.id}}/profile"><button>View My Profile</button></a><br>

{{/partial}}
{{> layout.hbs}}
