{{#partial "title"}}welcome.hbs{{/partial}}

{{#partial "header"}}
{{/partial}}

{{#partial "nav"}}
{{/partial}}

{{#partial "content"}}

<div class="welcome">
    <h1>Welcome<br>
    <a href="/user/{{user.id}}/profile">to your profile!</a></h1>
</div>
{{/partial}}

{{#partial "footer"}}
{{/partial}}

{{> layout.hbs}}